body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323639;
}

.header h1 {
    color: white;
}

.userCustomNameInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.customNameSubmit {
    width: 75px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.pOne, .pTwo {
    color: white;
}

/* .gameBoardDisplay {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;    
    border-top: none;
} */

.gameBoardDisplay {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    /* gets rid of outer borders */
    overflow: hidden;
    
}

.gameBoardDisplay div {
    outline: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: white;
    
}




.hiddenDisplay {
    background-color: #d6d6d7;
    width: 250px;
    height: 250px;
    display: none;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 10rem;
    gap: 1rem;
    padding: 1rem;
    border-radius: 25px
    


}

.hiddenDisplay .outcome {
    font-size: 2rem;
    
}

.restart {
    width: 150px;
}


/* button {
    all:unset;
    background-color: darkblue;
    width:100px;
    height: 100px;
} */

/* .cellButton {
    
}
 */

